@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

body {
  background-color: #f1efefc8;
}

/***************
  Mobile Styles
***************/
header {
  position: relative;
}

div#header-bg {
  height: 100vh;
  background-image: url('../img/tech-tool1.png'), url('../img/tech-tool2.png'), url('../img/tech-tool3.png');
  background-repeat: no-repeat;
  background-size: 8em, 10em, 20em;
  background-position: 17.2em -1.7em, 50% bottom, -180% 45%;
  opacity: 0.3;
  filter: blur(3px);
}

nav {
  background-color: transparent;
}

a.navbar-brand {
  color: #272a31;
  font-weight: 900;
  font-size: 2em;
  transition: 1s;
}

a.navbar-brand span {
  color: #ec5242;
}

div#nav-lists {
  background-color: #272a31;
}

div.ul-wrapper {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

div.ul-wrapper ul {
  position: relative;
  top: -4em;
  gap: 3em;
}

div.ul-wrapper ul li {
  position: relative;
}

div.ul-wrapper ul li a {
  position: relative;
  font-size: 2.5em;
  text-align: start;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1.5px #ec5242;
}

div.ul-wrapper ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 0%;
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1.5px #ec5242;
}

div.ul-wrapper ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 5px #fff);
}

section#header-content {
  position: absolute;
  top: 2em;
}

section#header-content h1 {
  margin-top: 1em;
  font-size: 3.2em;
  position: relative;
  height: 2.3em;
  text-transform: uppercase;
  margin-bottom: 0;
}

section#header-content h1 span {
  font-weight: 900;
  position: absolute;
  top: 1em;
  color: transparent;
  -webkit-text-stroke: 4px #ec5242;
  letter-spacing: 6px;
}

section#header-content p.p-info {
  font-size: 1.3em;
  border: 3px dashed #fff;
  padding: 1em;
  font-weight: 500;
}

section#header-content p.p-info span {
  text-decoration: underline;
  font-weight: bold;
}

section#header-content h4 {
  font-size: 1.7em;
  font-weight: 800;
  color: #424242;
}

section#header-content p.location {
  font-size: 1.2em;
}

section#header-content p.location span svg {
  width: 2em;
}

/**********************
  End of Mobile Styles
***********************/

/*********************************
  BREAKPOINT FOR SCREENS >= 768PX
**********************************/
@media screen and (min-width: 768px) {
  div.ul-wrapper {
    display: flex;
    min-height: unset;
    justify-content: flex-end;
  }

  div.ul-wrapper ul {
    position: relative;
    top: unset;
    flex-direction: row;
    gap: 2em;
  }

  div.ul-wrapper ul li a {
    position: relative;
    font-size: 1em;
    text-align: center;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #272a31;
    -webkit-text-stroke: unset;
    transition: 0.5s;
  }

  div.ul-wrapper ul li a::before {
    content: unset;
  }

  div.ul-wrapper ul li a:hover {
    color: #ec5242;
    border: none;
  }
}

/***************************************
 END OF BREAKPOINT FOR SCREENS >= 768PX
****************************************/
